<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-3 pl-5 p-5">
            <h2 class="text-center">Create New Account</h2>
            <form action="/signup" method="post">
                <div class="from-group p-3">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="Name" placeholder="Enter your name">
                </div>
                 <div class="from-group p-3">
                    <label for="">Email Address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email">
                </div>
                
                <div class="from-group p-3">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="enter password">
                </div>
                <a href="/login">Already have account?</a>
                <button type="submit" class="btn btn-primary float-end">signup</button>
                
            </form>
        </div>
    </div>
</div>