<section>
    <div class="container">
        <center>
        <h2>THANKYOU FOR YOUR ORDER </h2>
        <br>
        <br>
        <hr>
        <a href="/" class="btn btn-secondary">GO TO PRODUCTS</a>


        <a href="/orders" class="btn">orders</a>
        </center>
    </div>
</section>